@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v47-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/roboto-v47-latin-600.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/play-v19-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/play-v19-latin-700.woff2") format("woff2");
}

:root {
  --color-brand-light: #2b7fff;
  --color-brand-dark: #011c44;
  --color-primary-light: #747272;
  --color-primary-dark: #4a4a4a;
  --white: #ffffff;
  --black: #000000;
}

/*Base*/
* {
  box-sizing: border-box;
}

body {
  font-family: "roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
}

footer {
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

address {
  font-style: normal;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0;
  padding: 0 100px;
}

.section-title {
  font-family: "Play", sans-serif;
  font-weight: 700;
  font-size: 64px;
  line-height: 1.2;
  color: var(--color-brand-light);
  margin-bottom: 48px;
}

.brand-name {
  text-transform: capitalize;
}

.brand-text-dark {
  color: var(--color-brand-dark);
}

.brand-text-light {
  color: var(--color-brand-light);
}

/*Button*/
.button {
  padding: 16px 32px;
  color: var(--white);
  background-color: var(--color-brand-light);
  border: 2px solid var(--color-brand-light);
  border-radius: 32px;
  font-weight: 600;
}

.button:hover {
  color: var(--color-brand-dark);
  background-color: transparent;
}

.form-button:hover {
  background-color: var(--white);
}

/*Links*/
.link {
  text-decoration: none;
}

.link-header {
  color: var(--color-brand-dark);
}

.link-header:hover {
  color: var(--color-brand-light);
}

.link-footer {
  color: var(--white);
}

.link-footer:hover {
  color: var(--color-brand-light);
}

/*Footer*/

footer {
  background-color: green;
}

/*Header*/
.header-container {
  padding: 32px 0;
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-nav {
  display: flex;
  flex-grow: 1;
  align-items: center;
  gap: 40px;
}

.header-menu {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  gap: 56px;
}

.soccontakt {
  display: flex;
  gap: 32px;
  align-items: center;
}

/*Hero-section*/
.hero-block {
  width: 100%;
  max-width: 530px;
  padding: 122px 0 126px 105px;
}

.hero-text {
  margin-bottom: 16px;
  color: var(--color-brand-dark);
}

.hero-title {
  margin-bottom: 40px;
  font-family: "Play", sans-serif;
  font-size: 140px;
  line-height: 0.815;
  font-weight: 700;
  color: var(--color-brand-light);
}

.hero-subtext {
  margin-top: 14px;
  color: var(--color-primary-dark);
  font-size: 12px;
}

/*Reincarnation-section*/
.reincarnation-section {
  padding-bottom: 88px;
}

.reincarnation-container {
  display: flex;
  /* justify-content: space-between; */
  gap: 32px;
}

.reincarnation-block {
  padding: 40px 0 200px;
  width: 100%;
  max-width: 710px;
}

.reincarnation-title {
  font-family: "Play", sans-serif;
  font-weight: 700;
  font-size: 64px;
  line-height: 1.2;
  color: var(--color-brand-light);
  margin-bottom: 40px;
  padding-right: 180px;
}

.reincarnation-text {
  font-size: 22px;
  line-height: 1.7;
}

.reincarnation-brand-text {
  font-weight: 600;
}

.reincarnation-images {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-width: 500px;
}

.reincarnation-image-good {
  align-self: flex-end;
}

/*Advantages-section*/
.advantages-section {
  padding: 88px 0 48px;
  background-color: #747272;
}

.advantages-items {
  margin: 0 auto;
  padding: 0 40px;
  width: 100%;
  max-width: 1060px;
  display: flex;
  gap: 56px;
  color: var(--black);
}

.advantages-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  margin-bottom: 0;
  padding: 24px 32px;
  border-radius: 32px;
  background-color: var(--white);
}

.advantages-icon {
  width: 100%;
  max-width: 48px;
  height: 100%;
  max-height: 48px;
}

.advantages-text {
  margin-bottom: 0;
}

/*Procedures-section*/
.procedures-section {
  padding: 48px 0;
}

.procedures-items {
  font-size: 22px;
  line-height: 1.2;
  color: var(--white);
}

/*Contact-section*/
.contact-section {
  padding-bottom: 96px;
}

.contact-block {
  display: flex;
  gap: 32px;
}

.contact-map {
  width: 100%;
  max-width: 600px;
  /* height: 100%; */
  max-height: 480px;
  border-radius: 32px;
}

.contact-form {
  width: 100%;
  max-width: 422px;
  padding: 48px 57px;
  background-color: var(--color-brand-dark);
  border-radius: 32px;
}

.form-title {
  margin-bottom: 32px;
  font-size: 22px;
  line-height: 1.2;
  color: var(--white);
}

.form-subtext {
  margin-bottom: 0;
  font-size: 12px;
  color: var(--color-primary-light);
}

.form-link {
  color: var(--color-primary-light);
}

/*Footer*/

.footer-container {
  padding: 56px 0;
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.footer-menu {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-address {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-documents {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.copyright-text {
  color: var(--color-primary-light);
}
