.text {
  &__capitalize {
    text-transform: capitalize;
  }

  &__bold {
    font-weight: 600;
  }

  &__brand-dark {
    color: var(--color-brand-dark);
  }

  &__brand-light {
    color: var(--color-brand-light);
  }
}
