:root {
  --color-brand-light: #2b7fff;
  --color-brand-normal: #011f4a;
  --color-brand-dark: #011c44;
  --color-primary-light: #747272;
  --color-primary-dark: #4a4a4a;
  --white: #ffffff;
  --black: #000000;
}
