.advantages-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: calc((1060px - 112px) / 3);
  gap: 8px;
  margin-bottom: 0;
  padding: 24px 32px;
  border-radius: 32px;
  background-color: var(--white);

  &__icon {
    fill: var(--color-brand-light);
  }

  &__text {
    margin-bottom: 0;
    text-align: center;
  }
}
