.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px 20px;
  color: var(--white);
  background-color: rgba(1, 31, 74, 0.4);
  transition: opacity 0.1s, visibility 0.1s;

  &.is-hidden {
    opacity: 0.5;
    visibility: hidden;
    pointer-events: none;
  }

  &__modal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}
