.contakt-blok {
  display: flex;
  gap: 32px;
  align-items: center;

  &__icon {
    transition: fill 0.2s;
    &--header {
      fill: var(--color-brand-dark);
      &:hover {
        fill: var(--color-brand-light);
      }
    }
    &--footer {
      fill: var(--white);
      &:hover {
        fill: var(--color-brand-light);
      }
    }
  }
}
