.link {
  text-decoration: none;
  transition: color 0.2s;

  &__header {
    color: var(--color-brand-dark);
  }

  &__footer {
    color: var(--white);
  }

  &__header:hover,
  &__footer:hover {
    color: var(--color-brand-light);
  }
}
