.footer {
  background-color: var(--color-brand-dark);
  background-image: url(../images/bottles-foto.png);
  background-repeat: no-repeat;
  background-position: right 0 bottom 0;

  &__container {
    padding: 56px 0;
    display: flex;
    justify-content: space-between;
    gap: 40px;
  }

  &__menu {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__address {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__documents {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__text {
    color: var(--color-primary-light);
  }
}
