.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #ffffff40;

  &__container {
    padding: 30px 0;
    display: flex;
    align-items: center;
    gap: 40px;
  }

  &__nav {
    display: flex;
    flex-grow: 1;
    align-items: center;
    gap: 40px;
  }

  &__menu {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    gap: 56px;
  }
}
