.modal {
  position: relative;
  background-color: var(--color-brand-dark);
  overflow-y: auto;
  text-align: center;
  width: 100%;
  max-width: 724px;
  height: 100%;
  max-height: 682px;
  border-radius: 48px;

  &__btn-close {
    position: absolute;
    top: 42px;
    right: 42px;
    width: 32px;
    height: 32px;
    cursor: pointer;
  }

  &__block {
    padding: 42px 144px;
  }

  &__title {
    margin-bottom: 40px;
    font-size: 64px;
    font-weight: 700;
  }
}
