.procedures-section {
  padding: 48px 0;

  &__carousel {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-grow: 1;
    gap: 16px;
  }

  &__item {
    display: flex;
    flex-basis: calc((100% - 32px) / 3);
    height: 456px;
  }
}
