.section {
  padding: 48px 0;

  &__title {
    font-family: "Play", sans-serif;
    font-weight: 700;
    font-size: 64px;
    line-height: 1.2;
    margin-bottom: 48px;
    color: var(--color-brand-light);
    text-align: center;
  }
}
